<div data-controller="tournament-table-component" class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="sm:shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-1 sm:px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
              Pos
            </th>
            <th scope="col" class="px-1 sm:px-6 py-3 text-center sm:text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Team
            </th>
            <th scope="col" class="px-1 sm:px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
              Played
            </th>
            <th scope="col" class="px-1 sm:px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
              Won
            </th>
            <th scope="col" class="px-1 sm:px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
              Drawn
            </th>
            <th scope="col" class="px-1 sm:px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
              Lost
            </th>
            <th scope="col" class="px-1 sm:px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
              Points
            </th>
          </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
          <% @tournament.teams.sort_by { |team| [@tournament.team_points_for(team), -1 * @tournament.games.been_played.played_with(team).count] }.reverse.each_with_index do |team, position| %>
            <tr>
              <td class="px-1 sm:px-6 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
                <%= position + 1 %>
              </td>
              <td class="px-1 sm:px-6 py-2 whitespace-nowrap">
                <div class="flex items-center justify-center sm:justify-start">
                  <%= image_tag team.logo, class: "bg-gray-100 rounded-md p-1 h-9 w-auto" %>
                  <span class="hidden sm:block ml-2 text-sm font-medium text-gray-900"><%= team.name %></span>
                </div>
              </td>
              <td class="px-1 sm:px-6 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
                <%= @tournament.games.played_with(team).been_played.count %>
              </td>
              <td class="px-1 sm:px-6 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
                <%= @tournament.games.filter { |game| game.winning_team == team }.length %>
              </td>
              <td class="px-1 sm:px-6 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
                <%= @tournament.games.played_with(team).filter { |game| game.winning_side == "draw" }.length %>
              </td>
              <td class="px-1 sm:px-6 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
                <%= @tournament.games.played_with(team).been_played.filter { |game| game.winning_team != team }.length %>
              </td>
              <td class="px-1 sm:px-6 py-2 whitespace-nowrap text-sm text-gray-900 text-center bg-indigo-100/50">
                <%= @tournament.team_points_for(team) %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>