<% content_for :page_title do %>
    Tournaments
<% end %>


<!-- Render the empty tournament partial if user has no tournaments  -->
<% if @tournaments.empty? %>
  <%= render 'no_tournaments' %>
<% else %>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-1 sm:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Name
                </th>
                <th scope="col" class="px-1 sm:px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Players
                </th>
                <th scope="col" class="relative px-1 sm:px-6 py-3">
                  <span class="sr-only">Actions</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              <% @tournaments.each_with_index do  |tournament, index| %>
                <tr class="hover:bg-gray-100  <%= index.odd? ? 'bg-gray-50':'bg-white' %>">
                  <td class="px-1 sm:px-6 py-3 whitespace-nowrap text-sm text-gray-900">
                    <%=  link_to tournament.name, tournament_path(tournament)%>
                  </td>
                  <td class="px-1 sm:px-6 py-3 whitespace-nowrap">
                    <div class="flex items-center">
                      <% tournament.players.each do |player| %>
                        <div class="flex-shrink-0 h-10 w-10">
                          <%= render "partials/user_avatar", {user: player} %>
                        </div>
                      <% end %>
                    </div>
                  </td>

                  <td class="px-1 sm:px-6 py-3 whitespace-nowrap text-right text-sm font-medium">
                    <%= link_to "Show", tournament_path(tournament), class: "text-indigo-600 hover:text-indigo-900" %>
                    <%=  link_to "Edit", edit_tournament_path(tournament), class: "text-indigo-600 hover:text-indigo-900" %>
                  </td>
                </tr>
              <%  end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>