<% content_for :page_title do %>
  <%= @tournament.name %>
<% end %>

<div class="pb-5 border-b border-gray-200">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Head·2·Head
  </h3>
</div>

<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Name
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Fixtures
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Games Played
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Points
            </th>
          </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
          <% @tournament.players.each do |player| %>
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <%= render "partials/user_avatar", { user: player } %>
                  </div>
                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">
                      <%= player.name %>
                    </div>
                    <div class="text-sm text-gray-500">
                      <%= player.email %>
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900"><%= @tournament.games.played_by(player).count %></div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900"><%= @tournament.games.played_by(player).been_played.count %></div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                <%= @tournament.points_for player %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="pb-5 mt-5 border-b border-gray-200">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Fixtures
  </h3>
</div>

<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Home Team
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Away Team
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
              Score
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
              Winner
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-center">
              Actions
            </th>
          </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
          <% @tournament.games.includes(:away_team, :home_team).shuffle(random: Random.new(1)).each do |game| %>
            <tr>
              <td class="px-6 py-2 whitespace-nowrap">
                <div class="flex items-center">
                  <%= image_tag game.home_team.logo, class: "bg-gray-100 rounded-md p-1 h-9 w-auto" %>
                  <span class="ml-2 text-sm font-medium text-gray-900"><%= game.home_team.name %></span>
                </div>
              </td>
              <td class="px-6 py-2 whitespace-nowrap">
                <div class="flex items-center">
                  <%= image_tag game.away_team.logo, class: "bg-gray-100 rounded-md p-1 h-9 w-auto" %>
                  <span class="ml-2 text-sm font-medium text-gray-900"><%= game.away_team.name %></span>
                </div>
              </td>
              <td class="px-6 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
                <%= game.score %>
              </td>
              <td class="px-6 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
                <%= (winner = game.winner) ? winner.name : "-" %>
              </td>
               <td class="px-6 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
                <%= link_to "Edit", edit_game_path(game) %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
