<% content_for :page_title do %>
  <%= @tournament.name %>
<% end %>

<div class="pb-5 border-b border-gray-200">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Head·2·Head
  </h3>
</div>

<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="sm:shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-1 sm:px-6 py-3 text-center sm:text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Name
            </th>
            <th scope="col" class="px-1 sm:px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
              Fixtures
            </th>
            <th scope="col" class="px-1 sm:px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
              Games Played
            </th>
            <th scope="col" class="px-1 sm:px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
              Points
            </th>
          </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
          <% @tournament.players.each do |player| %>
            <tr>
              <td class="px-1 sm:px-6 py-2 whitespace-nowrap">
                <div class="flex items-center justify-center sm:justify-start">
                  <div class="flex-shrink-0 h-10 w-10">
                    <%= render "partials/user_avatar", { user: player } %>
                  </div>
                  <div class="ml-4 hidden sm:block">
                    <div class="text-sm font-medium text-gray-900">
                      <%= player.name %>
                    </div>
                    <div class="text-sm text-gray-500">
                      <%= player.email %>
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-1 sm:px-6 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
                <%= @tournament.games.played_by(player).count %>
              </td>
              <td class="px-1 sm:px-6 py-2 whitespace-nowrap text-sm text-gray-900 text-center">
                <%= @tournament.games.played_by(player).been_played.count %>
              </td>
              <td class="px-1 sm:px-6 py-2 whitespace-nowrap text-sm text-gray-900 text-center text-sm text-gray-500">
                <%= @tournament.points_for player %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div data-controller="tabs" data-tabs-active-tab="text-gray-900" data-tabs-inactive-tab="text-gray-500 hover:text-gray-700" class="mt-8">
  <div class="block max-w-lg mx-auto mb-4">
    <nav class="relative z-0 sm:rounded-lg shadow flex divide-x divide-gray-200" aria-label="Tabs">
      <a data-tabs-target="tab" data-action="click->tabs#change" href="#fixtures" class="text-gray-900 sm:rounded-l-lg group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-4 text-sm font-medium text-center hover:bg-gray-50 focus:z-10" aria-current="page">
        <span>Fixtures</span>
        <span aria-hidden="true" class="bg-indigo-500 absolute inset-x-0 bottom-0 h-0.5"></span>
      </a>
      <a data-tabs-target="tab" data-action="click->tabs#change" href="#results" class="text-gray-500 hover:text-gray-700 group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-4 text-sm font-medium text-center hover:bg-gray-50 focus:z-10">
        <span>Results</span>
        <span aria-hidden="true" class="hidden bg-indigo-500 absolute inset-x-0 bottom-0 h-0.5"></span>
      </a>
      <a data-tabs-target="tab" data-action="click->tabs#change" href="#table" class="text-gray-500 hover:text-gray-700 sm:rounded-r-lg group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-4 text-sm font-medium text-center hover:bg-gray-50 focus:z-10">
        <span>Table</span>
        <span aria-hidden="true" class="hidden bg-indigo-500 absolute inset-x-0 bottom-0 h-0.5"></span>
      </a>
    </nav>
  </div>
  <div id="fixtures" data-tabs-target="panel"><%= render 'games_table', games: @tournament.games.not_played.includes(:away_team, :home_team).shuffle(random: Random.new(1)) %></div>
  <div id="results" data-tabs-target="panel">

    <%= render 'games_table', games: @tournament.games.been_played.includes(:away_team, :home_team).shuffle(random: Random.new(1)) %></div>
  <div id="table" data-tabs-target="panel">
    <%= render TournamentTableComponent.new tournament: @tournament %>
  </div>
</div>


