<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>Fut</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="h-full">
      <div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
          <%= image_tag "logo.png", class: "mx-auto h-12 w-auto", alt: "Workflow" %>
          <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            <%= yield :title_text %>
          </h2>
        </div>

        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
          <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
